/* (or 1240px)1440px ~ pc */
/* 1241 ~ 1439 */
@media screen and (max-width:1439px) {
    /* 헤더 */
    #wrap header nav .gnb li .gnb_2depth .gnb_2depth_left dl {
    grid-template-columns: 100px 70px; 
    }
    #wrap header nav .gnb li .gnb_2depth .gnb_2depth_left dl.accessory {
    grid-template-columns: 100px 70px 70px;
    }
    #wrap header nav .gnb li .gnb_2depth .gnb_2depth_right {padding: 65px 65px 65px 0; gap:56px; flex:1;}
    /* 전체 마진 조정 */
    #wrap main .container {margin: 200px 80px 0 80px;}
    #wrap main .brand,
    #wrap main .style {margin: 200px 0;}
    #wrap main .brand .title,
    #wrap main .style .title {margin: 0 80px 20px;}
    /* 스타일 */
    #wrap main .style .style_bg .style_right .style_list {width:748px;}
    #wrap main .style .style_bg {padding: 59px 0px 59px 50px;}
}

/* 820px ~ 1240px tablet */
@media screen and (max-width:1240px) {
    #wrap header #user_menu .m_nav_open {display: block;}
    #wrap header nav .gnb {display: none;}
    #wrap main .style .style_bg .style_right .style_list {width:548px;}
    #wrap main .style .style_bg .left_photo {height: 100%;}
    #wrap main .style .style_bg {height: 684px;}
    /* 전체 마진 조정 */
    #wrap main .container {margin: 200px 15px 0 15px;}
    #wrap main .brand,
    #wrap main .style {margin: 200px 0;}
    #wrap main .brand .title,
    #wrap main .style .title {margin: 0 15px 20px;}
    /* new */
    #wrap main .new .contents_wrap {
    gap: 30px;
    }
    #wrap main .new .contents_wrap .product:not(:last-child)::after {
    right:-15px;
}
}
@media screen and (max-width:1024px) {
    /* new */
    #wrap main .new .contents_wrap {
    gap: 30px;
    }
    #wrap main .new .contents_wrap .product:not(:last-child)::after {
    right:-15px;
    }
    #wrap main .new .contents_wrap .product:last-child {display: none;}
}
/* ~ 819px mobile */
@media screen and (max-width:819px){
    /* 스타일 */
    #wrap main .style .style_bg .left_photo {display:none;}
    /* 상품 텍스트 + 금액 */
    #wrap main .new .contents_wrap .product .product_txt {flex-flow: column nowrap; align-items: flex-end; position: relative; flex:1; min-width: 0;}
    #wrap main .container .contents_wrap .product .product_txt h1 {font-size: 0.75rem; white-space: wrap; overflow:auto; text-overflow:clip; text-align: right;}
    #wrap main .container .contents_wrap .product .product_txt > p {font-size: 0.63rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: right;}
    #wrap main .container .contents_wrap .product .product_txt .price_wrap {font-size: 0.75rem; display: flex; gap:10px; align-items: center;}
    #wrap main .container .contents_wrap .product .product_txt .price_wrap .sale {color: #002D72; font-weight: 500;}
    #wrap main .container .contents_wrap .product .product_txt .price_wrap .cost {font-size: 0.63rem; color:#c3c3c3;}
    #wrap main .container .contents_wrap .product .product_txt .price_wrap .pay {font-weight: 500;}
}
/* @media screen and (max-width:513px){
        #wrap main .container .contents_wrap .product .product_txt h1 {text-align: right;}

} */